html, body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
html {
    display: table;
    margin: auto;
}

body {
    padding-right:30px;
    padding-left:30px;
    display: table-cell;
    justify-content:center;
    align-items:center;

}


.taskbar_a{
  transition: 0.5s;
  padding: 10px;
  color: #0b5372;
  font-size: 18px;
  font-family: "BPG Nino Mtavruli";
  background: #cbebfc;
  border-radius: 10px;
  text-decoration:none !important;
  border-bottom:none;
}

.taskbar_a:hover{background-color: #4b83f1;}
.competitors,#schools {
  margin-bottom: 30px;
  font-family: "BPG Nino Mtavruli";
  font-weight: bolder;
  border-collapse: collapse;
  width: 80%;
  border: 0px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.competitors  td,th{
    border: 0px;
    padding:10px;
    text-align: center;
}

.competitors tr,#schools tr{
  background-color: #ffffff;
}
.competitors tr:nth-child(even),#schools  tr:nth-child(even){background-color: #DCDCDC;}

.competitors tr:hover,#schools tr:hover{background-color: #689d9d;}

.competitors  th,#schools th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000033;
  color: #f6f5f5;
}


#schools {
  font-family: "BPG Nino Mtavruli";
  border-collapse: collapse;
  width: 100%;
}

#schools  td, #schools  th {
  border: 0px;
  padding: 8px;
  text-align: center;
}

.form-comp{
  text-align: center;
  justify-content:center;
  background-color: white;
  padding: 5px;
  width:100%;
  border-radius: 10px;
}



.update_button{
  position: relative;
  display: inline-block;
  font-family: Arial;
  border-radius: 6px;
  clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
  background: #238cbb;
  padding: 10px 20px;
  margin: 0 8px;
  font-weight: 600;
  font-size: 18px;
  color: #dddddd;
  text-decoration:none !important;
  border-bottom:none;
  transition: clip-path 500ms;
}

.update_button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #238cbb;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 500ms;
}

.update_button:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.update_button:hover:after {
  transform: translate(-100%, -100%);
}




.delete_button{
  position: relative;
  display: inline-block;
  border-radius: 6px;
  clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
  background: #b21f1f;
  padding: 10px 20px;
  margin: 0 8px;
  font-weight: 600;
  font-size: 18px;
  color: #dddddd;
  text-decoration:none !important;
  border-bottom:none;
  transition: clip-path 500ms;
}

.delete_button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ec3535;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 500ms;
}

.delete_button:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.delete_button:hover:after {
  transform: translate(-100%, -100%);
}


.counter,label{
  font-family: "BPG Nino Mtavruli";
  font-weight: bolder;
  color: #0b5372;
}
label{
  margin-left:2%;

}
.count{
    font-size: 18px;
    color: yellow;
    background: #0b5372;
    padding: 5px;
    border-radius: 10px;
}

li {
  background-color: #0b5718;
  border-radius: 4px;
  padding: 3px;
}

input[type=text],input[type=number],input[type=password],select {
  border-radius: 10px;
  font-size: 15px;
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  border:none;
  padding: 8px;
  background-color: #cbebfc;
  color: #0b5372;
}
input[type=submit]{

  border-radius: 10px;
  margin-left:2%;
  font-size: 15px;
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  border:none;
  padding: 8px;
  background-color: #61a151;
  color: white;
}






.dropbtn {
  border: none;
  padding: 10px;
  color: #0b5372;
  font-size: 18px;
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  background: #cbebfc;
  border-radius: 10px;
  text-decoration:none !important;

  transition: 0.5s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  padding: 10px;
  color: #0b5372;
  font-size: 18px;
  font-family: "BPG Nino Mtavruli";
  background: #438bab;
  border-radius: 10px;
  text-decoration:none !important;
  border-bottom:none;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {

  color: #0b5372;
  font-size: 15px;
  font-family: "BPG Nino Mtavruli";
  background: #438bab;
  border-radius: 10px;
  text-decoration:none !important;
  border-bottom:none;
  padding: 8px;
  display: block;
}
body{
  background-image: url('1041.jpg');
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4b83f1;}



.M{
  color: #0765ff;
}
.W{
  color: deeppink;
}



.filter{
  border-radius: 10px;
  font-size: 15px;
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  border:none;
  padding: 8px;
  background-color: #0765ff;
  color: #a2f690;
}

.filter-form{
  text-align: center;
  justify-content:center;
  background-color: white;
  padding: 5px;
  width:100%;
  margin-bottom: 15px;
  width: 60%;
  background-color: #d8ffd4;
  border-radius: 10px;
}

#filter-shuffle{
  width: 45%;
}
#groups_filters{
  width: 60%;
}
#shake_filter{
  width: 99%;
}



.button-33 {
  background-color: #c2fbd7;
  border-radius: 8px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: "BPG Nino Mtavruli";
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#delete_btn{
    color: white;
    background:#a11d00;
    box-shadow: rgba(161, 29, 0, .2) 0 -25px 18px -14px inset,rgba(161, 29, 0, .15) 0 1px 2px,rgba(161, 29, 0, .15) 0 2px 4px,rgba(161, 29, 0, .15) 0 4px 8px,rgba(161, 29, 0, .15) 0 8px 16px,rgba(161, 29, 0, .15) 0 16px 32px;
}
#delete_btn:hover{
  box-shadow: rgba(161, 29, 0,.35) 0 -25px 18px -14px inset,rgba(161, 29, 0,.25) 0 1px 2px,rgba(161, 29, 0,.25) 0 2px 4px,rgba(161, 29, 0,.25) 0 4px 8px,rgba(161, 29, 0,.25) 0 8px 16px,rgba(161, 29, 0,.25) 0 16px 32px;

}
#update_btn{
    color: white;
    background:#3091ff;
    box-shadow: rgba(48, 145, 255, .2) 0 -25px 18px -14px inset,rgba(48, 145, 255, .15) 0 1px 2px,rgba(48, 145, 255, .15) 0 2px 4px,rgba(48, 145, 255, .15) 0 4px 8px,rgba(48, 145, 255, .15) 0 8px 16px,rgba(48, 145, 255, .15) 0 16px 32px;
}
#update_btn:hover{
  box-shadow: rgba(48, 145, 255,.35) 0 -25px 18px -14px inset,rgba(48, 145, 255,.25) 0 1px 2px,rgba(48, 145, 255,.25) 0 2px 4px,rgba(48, 145, 255,.25) 0 4px 8px,rgba(48, 145, 255,.25) 0 8px 16px,rgba(48, 145, 255,.25) 0 16px 32px;

}


#filter_btn{
    font-family:"BPG Nino Mtavruli";
    margin-left:35px;
    color: white;
    background:#3091ff;
    box-shadow: rgba(48, 145, 255, .2) 0 -25px 18px -14px inset,rgba(48, 145, 255, .15) 0 1px 2px,rgba(48, 145, 255, .15) 0 2px 4px,rgba(48, 145, 255, .15) 0 4px 8px,rgba(48, 145, 255, .15) 0 8px 16px,rgba(48, 145, 255, .15) 0 16px 32px;
}
#filter_btn:hover{
  box-shadow: rgba(48, 145, 255,.35) 0 -25px 18px -14px inset,rgba(48, 145, 255,.25) 0 1px 2px,rgba(48, 145, 255,.25) 0 2px 4px,rgba(48, 145, 255,.25) 0 4px 8px,rgba(48, 145, 255,.25) 0 8px 16px,rgba(48, 145, 255,.25) 0 16px 32px;

}
#logout_button{
    transition: 0.5s;
    position:relative;
    position:absolute;
    top:0;
    right:0;
    margin-top: 20px;
    margin-right: 30px;
    padding: 10px;
    font-size: 18px;
    font-family: "BPG Nino Mtavruli";
    border-radius: 10px;
    background: #a11d00;
    color: white;
    box-shadow: rgba(161, 29, 0, .2) 0 -25px 18px -14px inset,rgba(161, 29, 0, .15) 0 1px 2px,rgba(161, 29, 0, .15) 0 2px 4px,rgba(161, 29, 0, .15) 0 4px 8px,rgba(161, 29, 0, .15) 0 8px 16px,rgba(161, 29, 0, .15) 0 16px 32px;

}
#logout_button:hover{
  box-shadow: rgba(161, 29, 0,.35) 0 -25px 18px -14px inset,rgba(161, 29, 0,.25) 0 1px 2px,rgba(161, 29, 0,.25) 0 2px 4px,rgba(161, 29, 0,.25) 0 4px 8px,rgba(161, 29, 0,.25) 0 8px 16px,rgba(161, 29, 0,.25) 0 16px 32px;

}
#no_btn{
    color: white;
    background:#333333;
    box-shadow: rgba(51, 51, 51, .2) 0 -25px 18px -14px inset,rgba(51, 51, 51, .15) 0 1px 2px,rgba(51, 51, 51, .15) 0 2px 4px,rgba(51, 51, 51, .15) 0 4px 8px,rgba(51, 51, 51, .15) 0 8px 16px,rgba(51, 51, 51, .15) 0 16px 32px;
}

#no_btn:hover{
  box-shadow: rgba(51, 51, 51,.35) 0 -25px 18px -14px inset,rgba(51, 51, 51,.25) 0 1px 2px,rgba(51, 51, 51,.25) 0 2px 4px,rgba(51, 51, 51,.25) 0 4px 8px,rgba(51, 51, 51,.25) 0 8px 16px,rgba(51, 51, 51,.25) 0 16px 32px;

}


.delete-page{
    font-size: 18px;
    font-family: "BPG Nino Mtavruli";
    padding:20px;
    display: table-cell;
    justify-content:center;
    align-items:center;
    width:70%;
    border-radius:20px;
    background:rgba(255, 255, 255, 0.8);
}





.button-85 {
font-size:14px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #1c1c1c;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}