{% extends 'staff/base.html' %}
{% block content %}
<body style="background: #6ab1d0">
    <form id="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="add" type="submit" value="დამატება">
    </form>


    <p class="counter" >ეტაპები სულ <a style="font-size: 18px;color: red;background: #0b5372;padding: 5px;  border-radius: 10px;">{{count}}</a></p>
    <form class="filter-form" id="groups_filters" method="get">
        <label for="id_gender">ჯგუფი:</label>
        {{group_filter.form.group_name}}
        <button class="filter" type="submit">
        გაფილტრე
        </button>
    </form>


    <table id="schools">
            <tr>
                <th>ჯგუფი</th>
                <th>ცვლილება</th>
                <th>წაშლა</th>
            </tr>
            <tr>
                {% for group in groups %}
                <tr>
                    <td>{{ group.group_name }}</td>
                    <td><a class="update_button" href="{% url 'update-group' group.id %}">Update</a></td>
                    <td><a class="delete_button" href="{% url 'delete-group' group.id %}">Delete</a></td>

                </tr>
                {% endfor %}
            </tr>
        </table>


</body>
{% endblock content %}