{% extends 'staff/base.html' %}
{% block content %}

<body>
    <form class="form-comp" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button-33" type="submit" value="დამატება">
    </form>

    <p class="counter" >სპორტსმენების რაოდენობა სულ  <a class="count">{{count}}</a></p>


    <form class="filter-form" method="get">
        <label for="id_year">წელი:</label>
        {{myfilter.form.year}}
        <label for="id_school">სკოლა:</label>
        {{myfilter.form.school}}
        <label for="id_gender">სქესი:</label>
        {{myfilter.form.gender}}
        <button class="button-33" id="filter_btn" type="submit">
            გაფილტრე
        </button>
    </form>

    <table class="competitors">
        <tr>
            <th>გვარი</th>
            <th>სახელი</th>
            <th>წელი</th>
            <th>სკოლა</th>
            <th>სქესი</th>
            <th>შეცვლა</th>
            <th>წაშლა</th>
        </tr>
        <tr>
            {% for competitor in competitors %}
                <tr>
                    <td>{{ competitor.surname }}</td>
                    <td>{{ competitor.name }}</td>
                    <td>{{ competitor.year }}</td>
                    <td>{{ competitor.school }}</td>
                    <td class="{{ competitor.gender }}" >{{ competitor.gender }}</td>
                    <td><a class="button-33" id="update_btn" href="{% url 'update-competitor' competitor.id %}">შეცვლა</a></td>
                    <td><a class="button-33" id="delete_btn" href="{% url 'delete-competitor' competitor.id %}">წაშლა</a></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</body>

{% endblock content %}

