{% extends 'staff/base.html' %}
{% block content %}

<body>


    <form class="form-comp" id="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button-33" id="add" type="submit" value="დამატება">
    </form>
    <p class="counter" >სკოლები სულ <a class="count">{{count}}</a></p>

    <table id="schools">
        <tr>
            <th>სკოლის სახელი</th>
            <th>შეცვლა</th>
            <th>წაშლა</th>
        </tr>
        <tr>
            {% for region in regions %}
            <tr>
                <td>{{ region.school_name }}</td>
                <td><a class="button-33" id="update_btn" href="{% url 'update-school' region.id %}">შეცვლა</a></td>
                <td><a class="button-33" id="delete_btn" href="{% url 'delete-school' region.id %}">წაშლა</a></td>
            </tr>
            {% endfor %}
        </tr>
    </table>


</body>

{% endblock content %}