{% extends 'staff/base.html' %}
{% block content %}
<body>
    <form class="form-comp" id="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button-33" id="add" type="submit" value="დამატება">
    </form>
    <p class="counter" >სეზონები სულ <a class="count">{{ count }}</a></p>

<table id="schools">
        <tr>
            <th>სეზონის სახელი</th>
            <th>შეცვლა</th>
            <th>წაშლა</th>
        </tr>
        <tr>
            {% for season in seasons %}
            <tr>
                <td>{{ season.season_name }}</td>
                <td><a class="button-33" id="update_btn" href="{% url 'update-season' season.id %}">შეცვლა</a></td>
                <td><a class="button-33" id="delete_btn" href="{% url 'delete-season' season.id %}">წაშლა</a></td>

            </tr>
            {% endfor %}
        </tr>
    </table>


</body>
{% endblock content %}